{% extends "frontend/base.html" %}
{% load static %}
{% block content %}
    <head>
        <meta charset="UTF-8">
        <title>Verify Code</title>
        <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    </head>
    <div class="container mt-5">
        <h1 class="text-center">Авторизация</h1>
        {% if next %}
            <p class="text-center text-muted">Пожалуйста, войдите, чтобы продолжить на <strong>{{ next }}</strong>.</p>
        {% endif %}
        <form method="post" action="{% url 'frontend:login' %}" class="mt-4">
            {% csrf_token %}
            <div class="mb-3">
                <label for="phone" class="form-label">Телефон</label>
                <input type="text" name="phone" id="phone" class="form-control"
                       placeholder="Введите ваш номер телефона">
            </div>
            <div class="mb-3">
                <label for="password" class="form-label">Пароль</label>
                <input type="password" name="password" id="password" class="form-control"
                       placeholder="Введите ваш пароль">
            </div>
            <button type="submit" class="btn btn-primary w-100">Войти</button>
        </form>
    </div>
{% endblock %}